<nav class="site-nav">
  <ul class="nav-menu">
    {% for item in site.data.navigation %}
      <li class="nav-item {% if page.url == item.url %}active{% endif %}">
        <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
      </li>
    {% endfor %}
    
    {% if site.data.navigation == nil %}
      <li class="nav-item {% if page.url == '/' %}active{% endif %}">
        <a href="{{ '/' | relative_url }}">Home</a>
      </li>
      <li class="nav-item {% if page.url == '/about/' %}active{% endif %}">
        <a href="{{ '/about/' | relative_url }}">About</a>
      </li>
    {% endif %}
  </ul>
</nav>
